resources:
- name: {{ env["name"] }}-allow-http
  type: compute.v1.firewall
  properties:
    network: {{ properties["network"] }}
    sourceRanges: ["0.0.0.0/0"]
    allowed: #Defines which port allows incoming traffic
    - IPProtocol: {{ properties["IPProtocol"] }}
      ports: ["80"]